    <!-- Begin the global footer -->
<footer class="global-footer">
  <!-- Begin the current promo -->
  <div class="wrap">
    <a href="#" class="current-promo">
      <p class="current-promo__label">1-Week Intro Offer</p>
      <p class="current-promo__description">A full week of unlimited <br class="break-for-small"> classes and open play!</p>
      <p class="current-promo__price">$30</p>
      <p class="current-promo__c2a">Get it now & start any time!</p>
    </a>
  </div>
  <!-- End the current promo -->
  <!-- Begin the newsletter signup form -->
  <div class="wrap">
    <div class="newsletter-signup">
      <p class="newsletter-signup__description">Sign up for our newsletter to receive updates about new classes, promotions, workshops and events!</p>
      <form class="newsletter-signup__form" action="">
        <input type="email" class="newsletter-signup__input" placeholder="monkey@example.com"> </form>
    </div>
    <!-- End the newsletter signup form -->
    <!-- Begin contact information -->
    <address class="contact-info" itemscope itemtype="http://schema.org/LocalBusiness">
      <div class="contact-info__item">
        <span class="contact-info__label">Visit us</span>
        <a href="https://www.google.com/maps/place/Athletic+Playground,+4770+San+Pablo+Ave,+Emeryville,+CA+94608/@37.8362197,-122.280934,17z/data=!3m1!4b1!4m2!3m1!1s0x80857e6c5e2e3271:0x17bd95d217b68a08" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          <span itemprop="streetAddress">4770 San Pablo Av, Unit E</span>,
          <br>
          <span itemprop="addressLocality">Emeryville</span>,
          <span itemprop="addressRegion">CA</span>
          <span itemprop="postalCode">94608</span>
        </a>
      </div>
      <div class="contact-info__item">
        <span class="contact-info__label">Call us</span>
        <span itemprop="telephone">206-555-1234</span>
      </div>
      <div class="contact-info__item">
        <span class="contact-info__label">Email us</span>
          <a class="email" href="mailto:team@athleticplayground.com">
            <span itemprop="email">team@athleticplayground.com</span>
          </a>
      </div>
    <!-- End contact information -->
  </div>
</footer>
<!-- End the global footer -->