    <!-- Begin the global header -->
<header class="global-header">
  <!--Begin the masthead (logotype) — Currently the logo is an <img> and a <h1>, in the future we might have a vector/hand drawn image including both the logo and the name -->
  <div class="masthead">
    <a class="masthead__anchor" href="../">
      <img class="masthead__anchor__logo" itemprop="logo" src="/static/images/logotype.png" />
      <h1 class="masthead__anchor__title">Athletic Playground</h1>
    </a>
  </div>
  <!-- End the masthead -->
  <!-- Begin the global navigation -->
  <nav class="site-nav">
    <ul class="site-nav__list">
      <li class="site-nav__item"><a class="site-nav__link site-nav__link--standard site-nav__link--about-us" href="about-us.html">About Us</a> </li>
      <li class="site-nav__item"><a class="site-nav__link site-nav__link--standard site-nav__link--what-we-offer" href="what-we-offer.html">What We Offer</a> </li>
      <li class="site-nav__item"><a class="site-nav__link site-nav__link--standard site-nav__link--getting-started" href="getting-started.html">Getting Started</a> </li>
      <li class="site-nav__item"><a class="site-nav__link site-nav__link--primary site-nav__link--schedule-and-signup" href="schedule-and-signup.html">Schedule & Sign-up</a> </li>
      <li class="site-nav__item"><a class="site-nav__link site-nav__link--blog" href="blog.html">Blog</a> </li>
      <li class="site-nav__item"><a class="site-nav__link site-nav__link--contact" href="contact.html">Contact</a> </li>
    </ul>
  </nav>
  <!-- End the global navigation -->
</header>
<!-- end the global header -->